<div class="container-pagina">
    <header class="header-pag">
      <div class="titulo-wrapper">
        <button mat-icon-button (click)="cancelar()" aria-label="Voltar">
          <mat-icon>chevron_left</mat-icon>
        </button>
        <div>
          <span class="breadcrumbs">Abastecimento >{{ update() ? 'Editar Abastecimento' : 'Novo Abastecimento' }}</span>
          <h1>{{ update() ? 'Editar Abastecimento' : 'Novo Abastecimento' }}</h1>
        </div>
      </div>
      <button mat-stroked-button color="primary" (click)="cancelar()">
        <mat-icon>list</mat-icon> Ver Lista
      </button>
    </header>
  
    <div class="conteudo-principal">      
      <main class="formulario-wrapper">
        <mat-tab-group animationDuration="0ms" class="abas-navegacao">
          
          <mat-tab label="Dados Pessoais">
            <form [formGroup]="form" class="form-container">
              
              <section class="secao-form">
                <h3><mat-icon>car</mat-icon> Dados do Abastecimento</h3>
                <div class="grid-3col">
                  <mat-form-field appearance="outline">
                    <mat-label>Fornecedor</mat-label>
                    <mat-select formControlName="supplierId">
                      <mat-option [value]="null">Selecione um fornecedor</mat-option>
                      @for (supplier of suppliers(); track supplier.id) {
                        <mat-option [value]="supplier.id">{{supplier.supplierFantasyName}}</mat-option>
                      }
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Tipo de Combustível</mat-label>
                    <mat-select formControlName="fuelTypeId">
                      <mat-option [value]="null">Selecione um tipo de combustível</mat-option>
                      @for (fuelType of fuelTypes(); track fuelType.id) {
                        <mat-option [value]="fuelType.id">{{fuelType.name}}</mat-option>
                      }
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Veículo</mat-label>
                    <mat-select formControlName="vehicleId" (selectionChange)="getDrivers()">
                      <mat-option [value]="null">Selecione um veículo</mat-option>
                      @for (vehicle of vehicles(); track vehicle.id) {
                        <mat-option [value]="vehicle.id">{{vehicle.vehiclePlate }} - {{vehicle.vehicleModel}}</mat-option>
                      }
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="grid-3col">
                  <mat-form-field appearance="outline">
                    <mat-label>Motorista</mat-label>
                    <mat-select formControlName="driverId">
                      <mat-option [value]="null">Selecione um motorista</mat-option>
                      @for (driver of drivers(); track driver.id) {
                        <mat-option [value]="driver.id">{{driver.driverName}}</mat-option>
                      }
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="col-span-2">
                    <mat-label>Data do Abastecimento</mat-label>
                    <input matInput formControlName="fuelSupplierDate" 
                    mask="00/00/0000" 
                    [dropSpecialCharacters]="false" 
                    placeholder="DD/MM/AAAA">
                    <mat-hint>/DD/MM/YYYY</mat-hint>
                  </mat-form-field>
                  <mat-form-field appearance="outline"> 
                    <mat-label>Valor do Abastecimento</mat-label>
                    <input matInput formControlName="fuelSupplierTotal" mask="separator.2" 
                    placeholder="Ex: 1.000,00" 
                    thousandSeparator="." decimalMarker="," decimalSeparator="," maxlength="8" />
                  </mat-form-field>
                </div>
                <div class="grid-3col">
                  <mat-form-field appearance="outline"> 
                    <mat-label>Valor por Litro</mat-label>
                    <input matInput formControlName="fuelSupplierPrice" mask="separator.2" 
                    placeholder="Ex: 1.000,00" 
                    thousandSeparator="." decimalMarker="," decimalSeparator="," maxlength="8" />
                  </mat-form-field>
                  <mat-form-field appearance="outline"> 
                    <mat-label>Quantidade de Litros</mat-label>
                    <input matInput formControlName="fuelSupplierQuantity" mask="separator.2" 
                    placeholder="Ex: 1.000,00" thousandSeparator="." decimalMarker="," decimalSeparator=","
                    maxlength="4"
                    />
                  </mat-form-field>
                  <mat-form-field appearance="outline"> 
                    <mat-label>Kilometragem</mat-label>
                    <input matInput formControlName="fuelSupplierKilometers" mask="separator.2" placeholder="Ex: 1.000,00" thousandSeparator="." decimalMarker="," decimalSeparator=","
                    maxlength="7" mask="999999,9"
                    />
                  </mat-form-field>
                </div>
                <div class="grid-2col">
                  <mat-form-field appearance="outline"> 
                    <mat-label>Número do Comprovante</mat-label>
                    <input matInput formControlName="fuelSupplierInvoiceNumber" maxlength="10" />
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Observações</mat-label>
                    <input matInput formControlName="fuelSupplierNotes">
                  </mat-form-field>
                  
                </div>
              </section>
            </form>
          </mat-tab>
        </mat-tab-group>
  
        <footer class="acoes-footer">
          <button mat-button (click)="cancelar()">Cancelar</button>
          <button mat-flat-button color="primary" [disabled]="form.invalid" (click)="salvar()">
            <mat-icon>save</mat-icon> Salvar Cadastro
          </button>
        </footer>
      </main>
      <aside class="sidebar-veiculo">
        <mat-card class="card-foto-resumo">
          <mat-card-content class="resumo-info">
            <div class="nome-status">
              <h2>{{ fuel()?.vehicle?.vehiclePlate || 'Novo Abastecimento' }}</h2>
            </div>
            
            <hr class="divisor">
  
            <div class="detalhes-lista">
              <div class="item-detalhe">
                <mat-icon>car</mat-icon>
                <div>
                  <p class="label">Placa</p>
                  <p class="valor">{{ fuel()?.vehicle?.vehiclePlate || '---' }}</p>
                </div>
              </div>
              <div class="item-detalhe">
                <mat-icon>calendar_today</mat-icon>
                <div>
                  <p class="label">Data do Abastecimento</p>
                  <p class="valor">{{ fuel()?.fuelSupplierDate || '---' }}</p>
                </div>
              </div>
              <div class="item-detalhe">
                <mat-icon>credit_card</mat-icon>
                <div>
                  <p class="label">Valor do Abastecimento</p>
                  <p class="valor">{{ fuel()?.fuelSupplierTotal || '---' }}</p>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </aside>
    </div>
  </div>