<h2 mat-dialog-title>Cadastro de Cargo</h2>

<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Cargo</mat-label>
      <input matInput formControlName="name" placeholder="Ex: Administrador" />
    </mat-form-field>        
    <mat-form-field appearance="outline">
      <mat-label>Permissões</mat-label>
      <mat-select formControlName="permissions" multiple>
        
        <mat-select-trigger>
          {{ form.get('permissions')?.value?.[0]?.name || '' }}
          @if ((form.get('permissions')?.value?.length || 0) > 1) {
            <span class="exemplo-obs">
              (+{{ (form.get('permissions')?.value?.length || 0) - 1 }} {{ form.get('permissions')?.value?.length === 2 ? 'outro' : 'outros' }})
            </span>
          }
        </mat-select-trigger>
    
        @for (permission of permissions(); track permission.id) {
          <mat-option [value]="permission.id">{{ permission.name }}</mat-option>
        }
    
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-flat-button color="primary" (click)="onSubmit()" [disabled]="form.invalid">Salvar</button>
</mat-dialog-actions>