@if (!isLoading()) {
    <mat-card class="preview-container">
      <mat-card-header>
        <mat-card-title>Pré-visualização dos Dados</mat-card-title>
        <div class="acoes-exportacao">
          <button mat-stroked-button (click)="exportarExcel()">
            <mat-icon>table_view</mat-icon> Excel
          </button>
          <button mat-flat-button color="warn" (click)="exportarPDF()">
            <mat-icon>picture_as_pdf</mat-icon> PDF
          </button>
        </div>
      </mat-card-header>
  
      <div class="table-responsive">
        <table mat-table [dataSource]="dataSource">

          @for (col of colunasExibidas(); track col) {
            <ng-container [matColumnDef]="col">
              <th mat-header-cell *matHeaderCellDef> {{ headers[col] | titlecase }} </th>
              <td mat-cell *matCellDef="let element">
                {{ element[col] }}
              </td>
            </ng-container>
          }
        
          <tr mat-header-row *matHeaderRowDef="colunasExibidas()"></tr>
          <tr mat-row *matRowDef="let row; columns: colunasExibidas();"></tr>
        </table>
      </div>
    </mat-card>
  }