<div class="container-pagina">
    <header class="header-pag">
      <div class="titulo-wrapper">
        <button mat-icon-button (click)="cancelar()" aria-label="Voltar">
          <mat-icon>chevron_left</mat-icon>
        </button>
        <div>
          <span class="breadcrumbs">Fornecedor >{{ update() ? 'Editar Fornecedor' : 'Novo Fornecedor' }}</span>
          <h1>{{ update() ? 'Editar Fornecedor' : 'Novo Fornecedor' }}</h1>
        </div>
      </div>
      <button mat-stroked-button color="primary" (click)="cancelar()">
        <mat-icon>list</mat-icon> Ver Lista
      </button>
    </header>
  
    <div class="conteudo-principal">      
      <main class="formulario-wrapper">
        <mat-tab-group animationDuration="0ms" class="abas-navegacao">
          
          <mat-tab label="Dados Pessoais">
            <form [formGroup]="form" class="form-container">
              
              <section class="secao-form">
                <h3><mat-icon>car</mat-icon> Dados do Fornecedor</h3>
                <div class="grid-form-3col">
                  <mat-form-field appearance="outline">
                    <mat-label>Nome Fantasia</mat-label>
                    <input matInput formControlName="supplierFantasyName" />
                    <mat-error *ngIf="form.get('supplierFantasyName')?.hasError('required')">
                      O campo <strong>Nome Fantasia</strong> é obrigatório.
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Razão Social</mat-label>
                    <input matInput formControlName="supplierCorporateName" />
                    <mat-error *ngIf="form.get('supplierCorporateName')?.hasError('required')">
                      O campo <strong>Razão Social</strong> é obrigatório.
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>CNPJ</mat-label>
                    <input matInput formControlName="supplierCnpj" mask="AA.AAA.AAA/AAAA-00" />
                    <mat-error *ngIf="form.get('supplierCnpj')?.hasError('required')">
                      O campo <strong>CNPJ</strong> é obrigatório.
                    </mat-error>
                  </mat-form-field>                  
                  <mat-form-field appearance="outline" class="col-span-2">
                    <mat-label>CEP</mat-label>
                    <input matInput formControlName="supplierZipCode" 
                    mask="99999-999" 
                    (change)="getCep(form.value.supplierZipCode)" />
                    <mat-hint>Digite o CEP para preencher o endereço</mat-hint>
                    <mat-error *ngIf="form.get('supplierZipCode')?.hasError('required')">
                      O campo <strong>CEP</strong> é obrigatório.
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline"> 
                    <mat-label>Endereço</mat-label>
                    <input matInput formControlName="supplierAddress" />
                    <mat-error *ngIf="form.get('supplierAddress')?.hasError('required')">
                      O campo <strong>Endereço</strong> é obrigatório.
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline"> 
                    <mat-label>Bairro</mat-label>
                    <input matInput formControlName="supplierNeighborhood" />
                    <mat-error *ngIf="form.get('supplierNeighborhood')?.hasError('required')">
                      O campo <strong>Bairro</strong> é obrigatório.
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline"> 
                    <mat-label>Cidade</mat-label>
                    <input matInput formControlName="supplierCity" />
                    <mat-error *ngIf="form.get('supplierCity')?.hasError('required')">
                      O campo <strong>Cidade</strong> é obrigatório.
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline"> 
                    <mat-label>Estado</mat-label>
                    <input matInput formControlName="supplierState" mask="AA" appUppercase />
                    <mat-error *ngIf="form.get('supplierState')?.hasError('required')">
                      O campo <strong>Estado</strong> é obrigatório.
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline"> 
                    <mat-label>Telefone</mat-label>
                    <input matInput formControlName="supplierPhone" mask="(00) 0000-0000||(00) 00000-0000" />
                  </mat-form-field>
                  <mat-form-field appearance="outline"> 
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="supplierEmail" email />
                  </mat-form-field>
                  <mat-form-field appearance="outline"> 
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="supplierStatus">
                      <mat-option value="1">Ativo</mat-option>
                      <mat-option value="0">Inativo</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="outline"> 
                    <mat-label>Tipo de Fornecedor</mat-label>
                    <mat-select formControlName="supplierType">
                      <mat-option value="1">Posto de Gasolina</mat-option>
                      <mat-option value="2">Oficina Mecânica</mat-option>
                    </mat-select>
                  </mat-form-field>
                  
                </div>
              </section>
  
            </form>
          </mat-tab>
        </mat-tab-group>
  
        <footer class="acoes-footer">
          <button mat-button (click)="cancelar()">Cancelar</button>
          <button mat-flat-button color="primary" [disabled]="form.invalid" (click)="salvar()">
            <mat-icon>save</mat-icon> Salvar Cadastro
          </button>
        </footer>
      </main>
      <aside class="sidebar-veiculo">
        <mat-card class="card-foto-resumo">
          <mat-card-content class="resumo-info">
            <div class="nome-status">
              <h2>{{ supplier()?.supplierFantasyName || 'Novo Fornecedor' }}</h2>
            </div>
            
            <hr class="divisor">
  
            <div class="detalhes-lista">
              <div class="item-detalhe">
                <mat-icon>car</mat-icon>
                <div>
                  <p class="label">Nome Fantasia</p>
                  <p class="valor">{{ supplier()?.supplierFantasyName || '---' }}</p>
                </div>
              </div>
              <div class="item-detalhe">
                <mat-icon>calendar_today</mat-icon>
                <div>
                  <p class="label">Razão Social</p>
                  <p class="valor">{{ supplier()?.supplierCorporateName || '---' }}</p>
                </div>
              </div>
              <div class="item-detalhe">
                <mat-icon>credit_card</mat-icon>
                <div>
                  <p class="label">CNPJ</p>
                  <p class="valor">{{ supplier()?.supplierCnpj || '---'}}</p>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </aside>
    </div>
  </div>