<h2 mat-dialog-title>Cadastro de Manutenção</h2>
<mat-dialog-content class="conteudo-modal">
  <form [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Fornecedor</mat-label>
      <mat-select formControlName="supplierId">
        <mat-option [value]="null">Selecione um fornecedor</mat-option>
        @for (supplier of suppliers(); track supplier.id) {
          <mat-option [value]="supplier.id">{{supplier.supplierFantasyName}}</mat-option>
        }        
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Veículo</mat-label>
      <mat-select formControlName="vehicleId" >
        <mat-option [value]="null">Selecione um veículo</mat-option>
        @for (vehicle of vehicles(); track vehicle.id) {
          <mat-option [value]="vehicle.id">{{vehicle.vehicleModel}} - {{vehicle.vehiclePlate}}</mat-option>
        }
      </mat-select>
      <mat-error *ngIf="form.get('vehicleId')?.hasError('required')">
        O campo <strong>Veículo</strong> é obrigatório.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Serviços Realizados</mat-label>
      <mat-error *ngIf="form.get('services')?.hasError('required')">
        O campo <strong>Serviços Realizados</strong> é obrigatório.
      </mat-error>
      <mat-select formControlName="services" multiple>
        
        <mat-select-trigger>
          {{ form.get('services')?.value?.[0]?.maintenance_control_service_name || '' }}
          @if ((form.get('services')?.value?.length || 0) > 0) {
            <span class="exemplo-obs">
              (+{{ (form.get('services')?.value?.length || 0)}} {{ form.get('services')?.value?.length === 2 ? 'outro' : 'outros' }})
            </span>
          }
        </mat-select-trigger>
    
        @for (service of services(); track service.id) {
          <mat-option [value]="service.id">{{ service.maintenance_control_service_name }}</mat-option>
        }
    
      </mat-select>

      <!-- <mat-hint>Você pode selecionar vários serviços para esta manutenção</mat-hint> -->
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Data da Manutenção</mat-label>        
        <!-- <input matInput formControlName="vehiclePurchaseDate" placeholder="Ex: 01/01/2026"> -->
        <input matInput [matDatepicker]="picker" formControlName="maintenanceDate" mask="00/00/0000" [dropSpecialCharacters]="false" placeholder="DD/MM/AAAA">
        <mat-hint>/DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker" ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="form.get('maintenanceDate')?.hasError('required')">
          O campo <strong>Data da Manutenção</strong> é obrigatório.
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Valor Total</mat-label>
      <input matInput formControlName="maintenanceCost" 
      mask="separator.2" 
      placeholder="Ex: 10,00" 
      prefix="R$" 
      thousandSeparator="." 
      decimalMarker="," 
      decimalSeparator="," />
      <mat-error *ngIf="form.get('maintenanceCost')?.hasError('required')">
        O campo <strong>Valor Total</strong> é obrigatório.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Data da Próxima Manutenção</mat-label>
      <input matInput [matDatepicker]="picker2" formControlName="maintenanceNextDate"
      mask="00/00/0000" 
      [dropSpecialCharacters]="false"
      placeholder="DD/MM/AAAA" />
      <mat-hint>/DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker2" ></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
      <mat-error *ngIf="form.get('maintenanceNextDate')?.hasError('required')">
        O campo <strong>Data da Próxima Manutenção</strong> é obrigatório.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Próxima Kilometragem</mat-label>
      <input matInput formControlName="maintenanceNextKilometers"
       mask="separator.2" 
       placeholder="Ex: 1.000,00" 
       thousandSeparator="." 
       decimalMarker="," 
       decimalSeparator="," />
      <mat-error *ngIf="form.get('maintenanceNextKilometers')?.hasError('required')">
        O campo <strong>Próxima Kilometragem</strong> é obrigatório.
      </mat-error>
      <mat-error *ngIf="form.get('maintenanceNextKilometers')?.hasError('min')">
        O campo <strong>Próxima Kilometragem</strong> deve ser maior que 0.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Kilometragem</mat-label>
      <input matInput formControlName="maintenanceKilometers"
       mask="separator.2" 
       placeholder="Ex: 1.000,00" 
       thousandSeparator="." 
       decimalMarker="," 
       decimalSeparator="," />
      <mat-error *ngIf="form.get('maintenanceKilometers')?.hasError('required')">
        O campo <strong>Kilometragem</strong> é obrigatório.
      </mat-error>
      <mat-error *ngIf="form.get('maintenanceKilometers')?.hasError('min')">
        O campo <strong>Kilometragem</strong> deve ser maior que 0.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Previsão de Termino</mat-label>
      <input matInput [matDatepicker]="picker3" formControlName="maintenancePreviousDateFinished"
      mask="00/00/0000" 
      [dropSpecialCharacters]="false"
      placeholder="DD/MM/AAAA" />
      <mat-hint>/DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker3" ></mat-datepicker-toggle>
      <mat-datepicker #picker3></mat-datepicker>
      <mat-error *ngIf="form.get('maintenancePreviousDateFinished')?.hasError('required')">
        O campo <strong>Previsão de Termino</strong> é obrigatório.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Observações</mat-label>
      <input matInput formControlName="maintenanceNotes" />
      <mat-error *ngIf="form.get('maintenanceNotes')?.hasError('required')">
        O campo <strong>Observações</strong> é obrigatório.
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions class="rodape-modal">
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-flat-button color="primary" (click)="onSubmit()">
    Salvar Manutenção
  </button>
</mat-dialog-actions>
