.mat-mdc-form-field:not(.mat-form-field-disabled) .mat-mdc-floating-label.mdc-floating-label {
    cursor: inherit;
    font-size: 0.9em !important;
}
.mat-mdc-form-field {
    width: 49.5%;
}

.mat-mdc-form-field:not(.mat-form-field-disabled) .mat-mdc-floating-label.mdc-floating-label {
    font-size: 0.9em !important;
}

.mat-mdc-form-field .mat-mdc-floating-label.mdc-floating-label {
    font-size: 1.1em !important;
}
.font-small {
    font-size: 0.9em !important;
}