.mat-column-valor {
    font-weight: 600;
    color: #15803d;
    text-align: right;
  }
  
  tr.mat-mdc-row:hover {
    background-color: #f0f9ff !important;
    cursor: pointer;
    transition: 0.2s;
  }
  
  .badge-combustivel {
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 11px;
  }